{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit nisi, mattis id sapien non, aliquam facilisis dolor. Vivamus in consequat lorem. In non nulla tristique, pharetra urna a, dictum magna. Duis eu sem sem. Phasellus gravida sodales mauris eget pharetra. Nunc eu ultrices ante, vitae ornare diam. Fusce ut eleifend orci, quis suscipit velit. Aenean molestie pellentesque cursus. Ut in enim ac tellus viverra gravida at vestibulum nulla. Ut bibendum, orci aliquet fringilla accumsan, nunc eros tincidunt nunc, vitae interdum lectus purus nec nisl. In commodo rutrum tortor. Cras mi risus, tempus vel mauris non, ultricies convallis mauris. Vivamus ac tortor vel dolor varius blandit. Donec sapien ligula, imperdiet ut blandit et, gravida id dolor. Nunc viverra ipsum sollicitudin tempor dictum.</p>
    </div>
{% endblock %}